# node packages
node_modules/

# build binaries
artifacts/
artifacts-zk/
artifacts-backup/

cache/
cache-zk/
cache-backup/

bin/

# ide files
.vscode/

# secrets
secrets.json

# logs
yarn-error.log

# zksolc
zksolc*